.main {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#favBtnWrap {
    margin-top: 30px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#favoritesWrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden; /* Hides overflow categories */
}

.favorites {
    width: max-content; /* Dynamically adjust width */
    display: flex;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.favoriteBg {
    width: 100%;
    height: fit-content;
    padding: 50px;
    background: url(../public/images/scroll_vertical.png) no-repeat center center;
    background-size: 100% 100%;
}

.favorite {
    width: 100%; 
    padding: 100px 80px;
    font-size: 20px;
}

.btn {
    all: unset;
    width: 150px;
    height: 100px;
    padding: 20px;
    cursor: none;
    display: none;
    transition-duration: 0.3s;
}

.btn:hover {
    filter: hue-rotate(-25deg) saturate(5);
}

.divide {
    margin-top: 20px;
}