.main {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredientForm {
    max-width: 850px;
    margin-top: 20px;
}

#ingredientForm {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ingredientInput {
    width: 100%;
    background: url(../public/images/shredded_paper.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 25px 45px;
    border: 0;
    font-size: 20px;
    outline: none;
}

#ingredientInput:hover {
    filter: drop-shadow(0 0 5px #4f391f);
}

#conjureBtn {
    max-width: 250px;
    width: 100%;
    padding: 25px 45px;
    background: url(../public/images/shredded_paper_purple.png) no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    color: #eee;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: none;
}

#conjureBtn:hover {
    filter: drop-shadow(0 0 15px #C0F5FA);
    color: #C0F5FA;
}

/* Output */
#outputBg {
    margin-top: 50px;
    width: 90%;
    height: fit-content;
    padding: 50px;
    background: url(../public/images/scroll_vertical.png) no-repeat center center;
    background-size: 100% 100%;
    display: none;
}

#outputWrap {
    padding: 100px 80px;
}

.divide {
    margin-top: 20px;
}

#addToFav {
    margin-top: 30px;
    background: url(../public/images/shredded_paper_purple.png) no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    padding: 20px 60px;
    font-size: 25px;
    color: #eee;
    cursor: none;
    display: none;
}

#addToFav:hover {
    filter: drop-shadow(0 0 15px #C0F5FA);
    color: #C0F5FA;
}