/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Martel:wght@200;300;400;600;700;800;900&family=Uncial+Antiqua&family=Macondo+Swash+Caps&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Uncial+Antiqua&family=Macondo+Swash+Caps&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap');

.titleFont {
    text-transform: capitalize;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
}

.headerFont {
    font-family: "Trochut", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btnFont {
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Global styling */
* { margin: 0; padding: 0; box-sizing: border-box; transition-duration: 0.3s; }
ul { list-style: none; }
img { width: 100%; height: 100%; }
a { text-decoration: none; color: #000; }

body {
    overflow-x: hidden;
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fffaf1;
    cursor: url('../public/cursor/default.cur'), auto !important;  /* Default cursor */
}

/* Custom cursor (GIF) */
#customCur {
    position: fixed;
    width: 80px;  /* Adjust as needed */
    height: 180px;
    background-image: url('../public/cursor/pointer.gif');  
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none; /* Prevent interactions */
    display: none; /* Hidden by default */
    transform: translate(-40%, -10%);  /* Center cursor */
    z-index: 1000; /* Ensure it's above everything */
}

.hoverable {
    cursor: none !important;  /* Hide default cursor on hoverable items */
}

.wrap {
    width: 100vw;
    min-height: 100svh;
}

.title {
    font-size: 55px;
}

.desc {
    font-size: 40px;
}

/* Header styling */
header {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.logo a {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: none;
}

.headerLogo {
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: #661FE1;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover a {
    color: #FFC857;    
}

.navBar {
    font-size: 30px;
    display: flex;
    gap: 40px;
}

.navBar button {
    all: unset;
}

.navBar li:hover a {
    color: #661FE1;
    cursor: none;
}

.navBar li:hover button {
    color: #661FE1;
    cursor: none;
}

/* Input field styling */
input {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.7);
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;    
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.7);
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
} 
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.7);
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
}

input:focus {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Styling error popup field */
#errorPopupWrap {
    max-width: 650px;
    width: 85%;
    padding: 20px;
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    box-shadow: 0 0 10px rgba(30, 30, 34, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%); 
       
    /* Hide popup when page is first initialized */
    visibility: hidden;
    opacity: 0; 
    /* Controlling the transition properties */
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.errorPopup {
    width: 100%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#errorMsg {
    font-size: 40px;
    font-weight: 500;
}

#errorDesc {
    font-size: 25px;
}

#closeErrorPopupBtn {
    padding: 10px 40px;
    background-color: #ff5959;
    border: 0;
    font-family: "Martel", serif;
    font-size: 20px;
    transition-duration: 0.3s;
    cursor: none;
}

#closeErrorPopupBtn:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4);
    transform: scale(0.99);
}

/* Loading icon */
.loader {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.loading {
    background: url(../public/images/loading.png) no-repeat center center;
    background-size: contain;
    width: 500px;
    height: 500px;
    animation: spin 8s linear infinite;
    display: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); filter: hue-rotate(180deg); filter: drop-shadow(0 0 5px #C0F5FA); }
    50% { filter: drop-shadow(0 0 5px #FFC857); }
    100% { transform: rotate(360deg); filter: hue-rotate(-180deg); filter: drop-shadow(0 0 5px #C0F5FA); }
}