.main {
    min-height: calc(100svh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>div {
    width: 40%;
}

.mainLogo {
    scale: 0.9;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Login and Signup Styling */
.login,
.signup {
    max-width: 600px;
    background: url(../public/images/scroll_vertical.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 110px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginForm,
.signupForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginForm input,
.signupForm input {
    padding: 10px;
    background-color: unset;
    font-size: 18px;
    border: 0;
    border-bottom: 1.5px solid #3B1C32;
}

.loginForm input:hover,
.signupForm input:hover {
    border-bottom: 1.5px solid #661FE1;

}

#loginBtn,
#signupBtn {
    background: url(../public/images/shredded_paper_purple.png) no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    padding: 20px 30px;
    font-size: 25px;
    color: #eee;
    cursor: none;
}

#loginBtn:hover,
#signupBtn:hover {
    filter: drop-shadow(0 0 15px #C0F5FA);
    color: #C0F5FA;
}

#signupDir,
#loginDir {
    margin-top: 20px;
    text-align: center;
}

#signupDir:hover,
#loginDir:hover {
    color: #C0F5FA;
    text-shadow: 0 0 15px #661FE1;
}

/* Index Styling */
.goCookBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#goCook {
    background: url(../public/images/shredded_paper.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 80px;
    font-size: 25px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

.goCookBtn:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
