.main {
    height: calc(100svh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>div {
    width: 40%;
}

.mainLogo {
    scale: 0.9;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 55px;
}

.desc {
    font-size: 40px;
}

.login {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginForm input {
    padding: 20px 30px;
    font-size: 18px;
    border: 1px solid #3B1C32;
    transition-duration: 0.3s;
}

#loginBtn {
    padding: 20px 30px;
    font-size: 20px;
    background-color: #661FE1;
    border: 1px solid #3B1C32;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

#loginBtn:hover {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

#signupDir {
    margin-top: 20px;
    text-align: center;
    transition-duration: 0.3s;
}

#signupDir:hover {
    color: #661FE1;
}